body, td, th, input, select, textarea {
	font:13px Tahoma;
}
body{
	margin:0;
	padding:0;
	line-height: 1.4em;
	color: #2b2b2b;
}
a{
	text-decoration:none;
	color:#575757;
}
#sidebar1 .nav-left .active a,
a:hover{
	color: #db0a00;
    text-decoration:none;
}
div, h1, h2, h3, h4, h5, h6, img, form, table, tr, th, td, dl, dt, dd {
	margin:0;
	padding:0;
	border: 0;
}
p {
    margin: 1em 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* fixed IE images scaling */
}
table {
	width: 100%;
	empty-cells: show;
	border-spacing: 0;
}
h1 {
  line-height:1.4em;
}
h2 {
  line-height:1.3em;  
}
h3 {
  line-height:1.2em;  
}
h4{
  line-height:1.1em;  
}
h5{
  line-height:1.05em;  
}
h6{
  line-height:1.05em;  
}
h1 {
    font-size: 1.5em;
	font-weight: bold;
}
h1,
h1 a,
h1 a:hover {
	color: #000;
}
h2 {
	font-weight: bold;
	font-size: 1.1em;
}
h2,
h2 a
h2 a:hover {
    color: #000;
}
h3 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.5em 0.5em 0.5em 0;
	margin-bottom: 0.5em;
}

ul, ol {
	margin: 0.5em 0 0.5em 1em;
	padding: 0 0 0 1em;
}
li {
	margin: 0.2em 0 0.2em 0;
}
small {
    font-size: 0.9em;
    font-weight: normal;
}
hr {
    padding: 0;
    margin: 20px 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dcdcdc;
}
.clear {
	clear:both;
	line-height:0;
	height:0;
}
.fr { float: right }
.fl { float: left }
.r { text-align: right }
.c { text-align: center }
.b { font-weight: bold }
.hint { color: #777; }
.breadcrumb,
.breadcrumb a {
    font-size: 0.9em;
    color: #888;
    margin: 1.2em 0;
}
.breadcrumb {
    word-spacing: 0.3em;
}
.breadcrumb a:hover {
    color: #666;
    text-decoration: none;
}

/*------------------ form ------------------*/
form fieldset,
form .checkbox,
form .select {
	margin: 0;
	padding: 0;
    border: 0;
}
form fieldset {
    margin: 0 0 10px 0;
    padding: 5px;
}
form .box {
    background-color: #f9f9f9;
    border: 2px solid #efefef;
}
form .text,
form .textarea,
form .select {
	border: 1px solid #d7d7d7;
    width: 100%;
}
form dl .optional {
    color: #757575;
}
form dt {
    padding: 4px;
    font-weight: bold;
}
form dd {
	padding: 4px 7px 4px 4px;
}
form legend,
form h2 {
    margin: 0;
    padding: 0.5em 0;
    text-indent: 0.5em;
	font-weight: bold;
	/*color: #004993;*/
    color: #333;
	font-size: 1.1em;
    background-color: #f1f1f1;
    width: 100%;
}
form .error {
	background-color: #ffe4ea;
}
form .single,
form .double,
form .triple,
form .quadruple {
    float: left;
	width: 25%;
	margin: 5px 0;
}
form .double {
    width: 50%;
}
form .triple {
    width: 75%;
}
form .quadruple {
    width: 100%;
}
form .mce_page,
form .mce_comment,
form .mce_description {
    border: 0;
}
/* .note places same line with input
    .hint places below input */
form .note,
form .hint {
    font-size: 90%;
    color: #888;
    font-weight: normal;
    padding-top: 0.5em;
}
form .hint {
    padding: 0;
}
form .submit {
    padding: 7px;
    margin: 10px 0 0 0;
}
form .submit .button {
    padding: 0.3em 1.5em;
    background-color:#545454;
    color: #fff;
}
form p {
    line-height: 2.2em;
}
form .hint_area {
    border:2px solid #f1f1f1;
    background-color: #f8f8f8;
    color: #666;
}

/*------------------ form response ------------------*/
#response {
}
#response ul,
#response li {
	padding: 0;
	margin: 0;
    list-style: none;
}
#response .fatal,
#response .success {
	padding: 1em;
    margin: 0 0 10px 0;
}
#response .fatal {
	/*color: #fff;
	background-color: #92224b;*/

	color: #a00029;
    border-top: 1px solid #faafb5;
    border-bottom: 1px solid #faafb5;
    background-color: #ffeff3;
}
#response .fatal ul {
	padding: 0.5em 14px 0 14px;
	margin: 0;
}
#response .fatal li {
	padding: 0.3em 0;
	list-style: disc;
}
#response .fatal dt,
#response .fatal dd {
    padding-left: 20px;
}
#response .fatal dt {
	background: url('exclamation.png') no-repeat center left;
}
#response .success {
	color: #4d7c09;
    border-top: 1px solid #ceef9e;
    border-bottom: 1px solid #ceef9e;
    background-color: #e9fad0;
}
#response .success dt {
    padding-left: 20px;
	background: url('tick.png') no-repeat center left;
}
#response .warning {
	color: #fff;
	background-color: #92224b;
}

/*------------------ curved ------------------*/
.curved,
.small_curved,
.small_curved_top,
.medium_curved,
.button {
    border: 0 solid #fff;
}
.curved {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -border-radius: 10px;
    border-radius: 10px;
}
.small_curved {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -border-radius: 5px;
    border-radius: 5px;
}
.small_curved_top {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-topright: 5px;
    -border-radius-topleft: 5px;
    -border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.medium_curved {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -border-radius: 8px;
    border-radius: 8px;
}

/*------------------ sprites ------------------*/
.widgets {
    background: url('widgets.png') no-repeat;
}
.buttons {
    background: url('buttons.png') no-repeat;
}
.icons {
    background: url('icons.png') no-repeat;
}
.search_bar {
    background: url('search_bar.png') no-repeat;
}
/*------------------ layout ------------------*/
#outer_wrapper {
    margin: 0 auto;
    width: 1001px;
    background-position: top right;
}
#header_wrapper,
#content_wrapper,
#footer_wrapper {
    margin: 0 auto;
    width: 975px;
}
#header_wrapper #header {
    background: url('header.png') no-repeat top center;
    height: 125px;
}
#header .logo_wrapper {
    width: 317px;
    float: left;
    margin: 10px 0 0 35px;
    overflow: hidden;
    height: 110px;
}
#header .logo_wrapper span {
    display: block;
}
#header .logo_wrapper .logo {
    background-repeat: no-repeat;
    background-position: left center;
    height: 110px;
}
#header .site_name {
    font-size: 2.5em;
    color: #cb4440;
    margin: 20px 0 5px 0;
    line-height: 1em;
}
#header .site_slogan {
    font-size: 0.9em;
    color: #4d4d4e;
}
#header .account_wrapper {
    float: right;
    width: 623px;
    padding: 12px 0 0 0;
}
#header .account {
    margin: 0 30px 0 0;
    height: 19px;
    overflow: hidden;
    float: right;
}
#header .account fieldset,
#header .account fieldset .text {
    padding: 0;
    margin: 0;
    border: 0;
}
#header .account fieldset .text {
    width: 80px;
}
#header .account fieldset .button {
    background-color: #b10400;
    color: #fff;
    font-size: 0.9em;
}
#header .account ul,
#header .account li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header .account li {
    float: left;
    margin: 0 1.5em 0 0;
}
#header .account h2 {
    margin: 0;
    padding: 0;
    width: 120px;
    overflow: hidden;
}
#header .search_wrapper {
    height: 91px;
    width: 459px;
    float: right;
    clear: both;
}
#header .search_bar {
    background-position: 0 -34px;
}
#header .search {
    float: left;
    width: 307px;
    margin: 33px 0 0 35px;
}
#header .search fieldset,
#header .search fieldset .text {
    padding: 0;
    margin: 0;
    border: 0;
}
#header .search fieldset .text {
    width: 160px;
    margin: 6px 13px;
    height: 20px;
}
#header .search fieldset .button {
    background: transparent no-repeat top left;
    width: 28px;
    height: 28px;
}
#header .cart_status {
    float: left;
    width: 100px;
    margin: 27px 17px 0 0;
}
#header .cart_status,
#header .cart_status a {
    color: #fff;
}

#header_wrapper .nav {
    height: 52px;
    background: url('main_menu_bg.png') repeat-x top left;
    font-size: 1.4em;
    overflow: hidden;
    clear: both;
}
#header_wrapper .nav ul,
#header_wrapper .nav li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
}
#header_wrapper .nav ul {
    margin: 0 0 0 30px;
}
#header_wrapper .nav li {
    float: left;
    background: url('main_menu_sep.png') no-repeat top right;
    padding: 0 2px 0 0;
}
#header_wrapper .nav li a {
    display: block;
    padding: 17px 1em;
}
#header_wrapper .nav li a:hover {
    background: url('main_menu_hover.png') no-repeat top left;
    color: #fff;
}
#header_wrapper .social {
    float: right;
    width: 67px;
    margin: 10px;
}
#header_wrapper .social span {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
}
#header_wrapper .social .fb {
}
#header_wrapper .social .tw {
    background-position: -32px 0;
}

#header_wrapper .highlight_wrapper,
#highlight,
#highlight li {
    height: 300px;
    overflow: hidden;
}
#header_wrapper .highlight_wrapper {
	background-color:#fff;
}
#highlight,
#highlight li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#highlight li span {
    height: 300px;
    width: 975px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

#sidebar2 {
    position: absolute;
    left: auto;
    top: 420px;
    z-index: 10;
    width: 933px;
    height: 120px;
    margin: 0 21px;
    background: url('sidebar2_bg.png') no-repeat top center;
}
#sidebar2 .sidebar {
    margin: 15px 25px;
}
#sidebar2 .sidebar span {
    display: block;
    float: left;
    margin: 5px;
    width: 210px;
    height: 80px;
}
#sidebar2 .signup {
}
#sidebar2 .contact {
    background-position: 0 -80px;
}
#sidebar2 .notify_payment {
    background-position: 0 -160px;
}
#sidebar2 .how_to_buy {
    background-position: 0 -240px;
}
#sidebar2 .my_account {
    background-position: 0 -320px;
}

#content_wrapper {
    background: url('content_wrapper.png') #fff repeat-x top left;
}
#content_wrapper .content {
    padding: 75px 30px 0 30px;
}
#sidebar1 {
    float: left;
    width: 200px;
    overflow: hidden;
}
#sidebar1 .sidebar {
    margin: 0 0 20px 0;
}
#sidebar1 .sidebar .padding {
    margin: 10px;
}

#sidebar1 .nav ul,
#sidebar1 .nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar1 .nav li {
    padding: 2px 0 4px 15px;
    background: url('bullet.png') no-repeat 0 9px;
    border-bottom: 1px solid #ebedee;
}
#sidebar1 h2 {
    background-position: -220px 0;
    height: 30px;
    overflow: hidden;
    color: #fff;
    line-height: 2em;
    padding: 0 10px;
    font-weight: normal;
    font-size: 1.1em;
    margin: 0 0 5px 0;
}
#sidebar1 .banners,
#sidebar1 .banners li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar1 .banners ul{
	overflow:hidden;
}
#sidebar1 .banners li {
    margin: 10px 0;
    width: 200px;
    overflow: hidden;
		text-align:center;		
}
#main {
    float: left;
    width: 690px;
    margin: 0 0 0 25px;
}

#main .page {
    border: 1px solid #e2e2e2;
    background: url('main_bg.png') repeat-x top left #fff;
    min-height: 100px;
    margin: 0 0 20px 0;
}
#main .page .topic1 {
    font-weight: normal;
    font-size: 1.1em;
    background: url('main_head.png') no-repeat top right;
    height: 41px;
    overflow: hidden;
    min-width: 90px;
    float: left;
    padding: 0 60px 0 10px;
    line-height: 2.8em;
}
#main .page .topic1,
#main .page .topic1 a {
    color: #ccc;
}
#main .padding {
    clear: both;
    padding: 10px;
}

#footer_wrapper {
    padding-top: 20px;
    background-color: #fff;
}
#footer .footer {
    background: url('footer_bg.png') #dadada repeat-x top left;
    height: 95px;
    overflow: hidden;
}
#footer .nav {
    margin: 25px 0 10px 0;
    color: #3a3a3a;
}
#footer .nav a {
    margin: 0 0.8em;
    color: #212121;
}
#footer .nav a:hover {
    color: #c30700;
}
#footer .copyright {
    font-size: 0.9em;
}
#footer .copyright,
#footer .copyright a {
    color: #2d2d2d;
}

/*------------------ cart ------------------*/
#cart .items,
#cart .items tr,
#cart .items th,
#cart .items td {
    margin: 0;
    padding: 0;
}
#cart .items th,
#cart .items td {
    padding: 6px 3px;
    border-bottom: solid 1px #e8e8e8;
}
#cart tr .image {
    width: 50px;
}
#cart tr .image div {
    height: 50px;
    background: #fff no-repeat center center;
}
#cart tr .title {
}
#cart tr .quantity {
    width: 110px;
    text-align: right;
    color: #6b6b6b;
    font-size: 90%;
    padding-right: 10px;
}
#cart tr .quantity input {
    width: 30px;
}
#cart tr .line_price {
    width: 80px;
    text-align: right;
}
#cart tr .remove {
    text-align: center;
    width: 60px;
}
#cart .summary {
    padding: 1em;
    background-color: #f4f4f4;
    font-size: 1.2em;
    margin: 10px 0;
}
#cart .summary .total_price {
    color: #db0a00;
    font-weight: bold;
}
#cart .update_cart,
#cart .checkout {
    width: 86px;
    height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#cart .update_cart {
    background-position: 0 -50px;
}
#cart .checkout {
    background-position: 0 -25px;
}
/*------------------ pagination ------------------*/
#pagination {
	clear: both;
	padding: 1em 0 2em 0;
	color: #737373;
	line-height:2em;
}
#pagination .total {
	float: left;
	text-align: left;
	padding-right: 15px;
	color: #282828;
}
#pagination .pages {
	float: left;
	text-align: left;
	word-spacing: 0.5em;
}
#pagination .current,
#pagination a {
    padding: 0.2em 0.5em;
    border: 1px solid #ddd;
}
#pagination .current {
    background-color: #fff;
    border: 1px solid #888;
    color: #282828;
}
#pagination a {
	color: #333;
	text-decoration: none;
    background-color: #fff;
}
#pagination a:hover {
    color: #db0a00;
}
#pagination .disabled {
	color: #999;
}


/*------------------ blog ------------------*/
#blog {
}
#blog ul,
#blog li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#blog li {
    padding: 1em 0;
    border-bottom: 1px dotted #ccc;
}
#blog .author,
#article .author {
    padding-bottom: 1.5em;
    color: #555;
    font-size: 0.9em;
}

/*------------------ page ------------------*/
#page a,
#article a{
	color: #9f0902;
}
#page a:hover,
#article a:hover {
	color: #db0a00;
}

/*------------------ listing ------------------*/
.listing ul,
.listing li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.listing p {
    margin: 0.2em 0 0 0;
}
.listing th {
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
    color: #777;
	border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
}
.listing td {
	border-bottom: solid 1px #e9e9e9;
	padding: 0.5em;
}
.listing th,
.listing td {
	line-height: 1.5em;
	vertical-align: top;
}
.listing .middle,
.listing .middle td {
    vertical-align: middle;
}
.listing .even {
	background-color: #f5f5f5;
}
.listing .odd {
}
.listing tr .empty {
    border: 0;
}
.listing .hidden td {
	color: #8d8d8d;
}

.listing .badges {
    padding: 0;
    margin: 0;
    list-style: none;
}
.listing .badges .featured {
    background: url('star.png') no-repeat center right;
    width: 24px;
    float: left;
}

/*------------------ discussions ------------------*/
#discussions .listing .count,
#discussion .listing .date {
    width: 100px;
}
#discussion .listing .count,
#discussion .listing .state {
    width: 80px;
}
#discussion .listing .badge {
    width: 24px;
}

#discussions p {
    margin: 1em 0 0 0;
}
#discussions .original_post {
    margin: 0 0 20px 0;
}
#discussions .original_post .body {
    width: 100%;
    overflow: auto;
}

.comment_form {
    padding: 10px;
    background-color: #eee;
}
.comment_form a{
	color: #db0a00;
}

/*------------------ comments ------------------*/
.comment {
}
.comment p {
    margin: 0 0 1em 0;
}
#comments {
    margin: 0;
    padding: 0;
    list-style: none;
}
#comments li {
    background: #eee;
    margin: 0.8em;
    padding: 0.5em;
}
#comments li .number {
    font-weight: bold;
}
#comments .hidden,
#comments .hidden a{
    color: #999;
}
#comments .avatar {
    float: left;
    width: 42px;
}
#comments .body {
    padding-left: 42px;
    width: 90%;
    overflow: auto;
}

/*------------------ product ------------------*/
#product p {
    padding: 0.5em 0;
}
#product a{
}
#product a:hover{
}
#product .image {
	float: left;
  width:242px;
}
#product .details {
	float: right;
	width: 400px;
}
#product .details th,
#product .details td {
    line-height: 1.5em;
    border-bottom: 1px dotted #eaeaea;
    padding: 0.5em 0;
}
#product .details th {
    font-weight: bold;
    width: 150px;
    clear: both;
    padding-right: 1em;
    text-align: left;
    vertical-align: top;
}
#product .details td {
}
#product .details form {
    margin: 0 0 20px 0;
}
#product .details p{
    margin: 0.5em 0 0.5em 0;
}
#product .details .variants,
#product .details .variants li,
#product .details .variants input {
    padding: 0;
    margin: 0;
}
#product .details .variants li {
    list-style: none;
    /*line-height: 2em;*/
    padding-bottom: 0.5em;
}
#product .details .quantity{
    float: left;
    padding-right: 10px;
}
#product .details .quantity input {
    width: 30px;
}
#product .featured_image {
    width: 240px;
    height: 240px;
    background: #fff no-repeat center center;
    border:1px solid #eaeaea;
    margin:0 0 20px 0;
    display: block;
}
#product .all{
  padding:0;
  margin: 20px 0;
}
#product .all ul,
#product .all li{
  list-style:none;
  padding:0;
  margin:0;
}
#product .all li{
  text-align:center;
  margin: 0 0 20px 0;
}
#product .textbox {
	font-size: 90%;
}
#product .price {
/*	color: #ff6b83;*/
/* color: #cb6ec5;*/
}
#product .compare_at_price  {
	text-decoration: line-through;
}
#product .description {
	overflow: hidden;
    margin: 20px 0 0 0;
}
#product .related {
}
#product .related ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#product .related li {
	float:left;
	font-weight:bold;
	color: #ff6b83;
	text-align: center;
	width: 120px;
	height: 160px;
	padding: 0 10px 10px 0;
}
#product .related li .image {
	height: 90px;
}
#product .related li .price {
	color:#539bb4;
	font-weight:bold;
}
#product .extra_images {
  width:242px;
	padding: 0 0 10px 0;
}
#product .extra_images ul {
	padding: 0;
	margin: 20px 0;
	list-style: none;
}
#product .extra_images li {
}
#product .extra_images li div {
	float: left;
	text-align: left;
	width:50px;
	height:50px;
	background: #fff no-repeat center center;
    margin: 0px 11px 10px 0;
    border: 1px solid #eaeaea;
}
#product .extra_images .last div {
    margin: 0px 0px 10px 0;
}
#product .buy {
    float: left;
}
#product .buy .add_to_cart {
    width: 86px;
    height: 25px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*------------------ collection ------------------*/
#collection .breadcrumb,
#collection .breadcrumb a{
	font-size: 0.9em;
	margin: 0.5em 0;
}
#collection .breadcrumb{
	padding:0px;
}
#collection .padding {
    padding-right: 0;
}
#collection .subcategory{
	padding:0;
	margin:10px 0 0 0;
}
#collection .subcategory a{
	display:inline-block;	
	padding:3px 5px;
	margin:0 5px 10px 0;
}
#collection .subcategory a:hover{
}
#collection .grid,
#collection .grid li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#collection .grid li {
    float: left;
    width: 155px;
    height: 240px;
    margin: 0 13px 13px 0;
	position:relative;	
}
#collection .grid li .soldout{
		width: 127px;
		height: 90px;
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		background: url('soldout.png') no-repeat left top;
}
#collection .image {
    height: 155px;
    overflow: hidden;
    background: #fff no-repeat center center;
    margin: 0 0 5px 0;
    display: block;
    border: 1px solid #eee;
}
#collection .title {
    height: 42px;
    overflow: hidden;
    line-height: 1.2em;
    margin: 0 0 4px 0;
    font-size: 0.9em;
}
#collection .price {
    color: #db0a00;
    font-weight: bold;
    float: left;
}
#collection .buy {
    float: right;
}
#collection .buy a {
    color: #2b2b2b;
}
#collection .buy a:hover {
    color: #db0a00;
}
#collection .buy .add_to_cart {
    width: 31px;
    height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-position: 0 -75px;
}
#collection .tags {
    margin: 0 10px 20px 0;
    border-bottom: 1px solid #e3e3e3;
}
#collection .tags a {
    padding: 3px;
    text-decoration: none;
    line-height: 2em;
    margin: 0 10px 5px 0;
    border: 1px solid #fff;
}
#collection .tags a:hover {
    border: 1px solid #9c0400;
    background-color: #db0a00;
    color: #fff;
}
#collection .description {
    padding: 10px;
    margin: 0 10px 20px 0;
    background-color: #f4f4f4;
    border: 1px solid #e3e3e3;
}

/*------------------ frontpage ------------------*/
#frontpage #collection h2 {
    background-position: -220px -80px;
    height: 41px;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 2.8em;
    overflow: hidden;
    padding: 0 0 0 50px;
    color: #2b2b2b;
}
#frontpage .discussions h1 {
    background-position: 0 -740px;
    width: 118px;
    height: 18px;
}
#frontpage .discussions ul,
#frontpage .discussions li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#frontpage .discussions ul {
    margin: 1em 0.5em;
}
#frontpage .discussions li {
    margin: 0.2em 0;
    padding: 0 0 0 18px;
    background: url('bullet.png') no-repeat left 5px;
}
#frontpage .column {
    background: url('column_bg.png') no-repeat top left;
    width: 338px;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    float: left;
}
#frontpage .column ul,
#frontpage .column li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#frontpage .column ul {
    margin: 0 15px 10px 15px;
}
#frontpage .column li {
    padding: 0 0 0 18px;
    background: url('bullet2.png') no-repeat 0 6px;
    border-bottom: 1px dotted #ccc;
    line-height: 1.8em;
    width: 290px;
    overflow: hidden;
}
#frontpage .column h1 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 2.4em;
    overflow: hidden;
    padding: 0 0 0 50px;
    color: #fff;
    height: 50px;
}
#frontpage .article h1 {
    background-position: -220px -160px;
}
#frontpage .discussion {
    margin: 0 0 0 10px;
}
#frontpage .discussion h1 {
    background-position: -220px -240px;
}
#frontpage .welcome .padding{
	overflow:auto;
}
#article .padding,
#page .padding{
	overflow:auto;
}
.bx-pager{
	position:absolute;
	top:5px;
	left:20px;
	width:200px;
	height:25px;
	text-align:left;
}
.bx-pager a{
	color:#111;
	background-color:#fff;
	margin:0 0 0 5px;
	padding:1px 6px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -border-radius: 30px;
  border-radius: 30px;
	font-size:0.85em;
}
.bx-pager a:hover{
	color:#fff;
	background-color:#111;
}